/* =========================================================
   Obsidian Code Layout
   ========================================================= */


/* =========================================================
   0. 参数
   ========================================================= */

body {
    /* 一个 Tab 占多少列 */
    --my-code-tab-size: 4;
}


/* =========================================================
   1. 编辑模式 / Live Preview
   ========================================================= */

.markdown-source-view.mod-cm6 .HyperMD-codeblock {
    tab-size: var(--my-code-tab-size) !important;
}


/* =========================================================
   2. 阅读模式 / Reading View
   ========================================================= */

.markdown-rendered pre,
.markdown-rendered pre code {
    tab-size: var(--my-code-tab-size) !important;
}